* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contain div {
    background-repeat: no-repeat;
    background-size: cover;
}